* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 8%);
  font-family: "Inter", sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profileCard {
  background-color: hsl(0, 0%, 12%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 24px;
  border-radius: 8px;
}

.userPortrait {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-bottom: 16px;
}

.userName {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  margin: 0;
  font-size: 20px;
}

.userLocation {
  color: hsl(75, 94%, 57%);
  font-size: 12px;
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 24px;
}

.userQuote {
  font-size: 12px;
  font-weight: 400;
  color: hsl(0, 0%, 100%);
  margin: 0;
}

.socialLinks {
  font-size: 12px;
  margin-top: 16px;
  width: 100%;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
  text-align: center;
}

button {
  all: unset;
}

.socialLink {
  background-color: hsl(0, 0%, 20%);
  width: 100%;
  padding: 12px 0;
  border-radius: 8px;
  margin-bottom: 12px;
}

.socialLink:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
  cursor: pointer;
}
